*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');


body{
    background: rgb(250, 250, 250);
    font-family: 'Poppins', sans-serif;
}


.container{
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

header{
    grid-column: 1/-1;
    text-align: center; 
    margin-bottom: 45px;

}

header h2{
    margin-bottom: 20px;
}

header p{
    font-size: 10px;
    color: rgb(175, 174, 176);
    font-weight: 200;
}

.text-header{
    font-size: 28px;
    font-weight: 400;
    color: rgb(89, 89, 99);
}

header h2{
    font-size: 30px;
    font-weight: 600;
    color: rgb(77, 80, 96);
}

@media only screen and (min-width: 880px){
    .container-card{
        flex-direction: row !important;
    }
}

.container-card{
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

footer{
    grid-column: 1/-1;
}

.card{
    background: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid;
    border-color: rgb(249, 250, 250);
    margin: 25px;
    
    max-width: 250px;
    height: 180px;
    padding: 24px;
    
    font-size: 12px;
    display: grid;
    grid-template-columns: 1fr 10fr;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.5);
}

.card1{
    border-top: 3px solid;
    border-top-color: rgb(96, 203, 204);
}

.card2{
    border-top: 3px solid;
    border-top-color: rgb(228, 87, 86);
}

.card3{
    border-top: 3px solid;
    border-top-color: rgb(247, 175, 83);
}

.card4{
    border-top: 3px solid;
    border-top-color: rgb(83, 158, 240);
}

.card .title{
    grid-row: 1/1;
    grid-column: 1/3; 
    margin-bottom: 12px;
    font-size: 15px;
    color: rgb(81, 80, 92);
}

.card p{
    grid-row: 2/3;
    grid-column: 1/-1;
   font-size: 10px;
   color: rgb(191, 192, 196);
}

.card img{
    grid-row: 3/3;
    grid-column: 3/3; 
    height: 45px;
}



.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
